
ul {
  list-style-type: none;
  padding-left: 0;
}

/* TOPBAR */
#topbar {
  display: none;
}
#menu-button {
  display: none;
}

/* MAIN */

.section-text {
  width: 100%;
}
.info-block {
  /* width: 110.5%; */
  width: 66.5vw;
  margin: 3rem 0 3rem 2rem ;
  background-color: #f44647;
  align-items: center;
  opacity: 0.8;
}
.info-block-content {
  padding: 1rem;
  color: white;
}
.info-block-content p {
  color: white;
  font-weight: 300;
}
.info-block-content h2 {
  font-weight: 400;
  color: white;
  letter-spacing: .1rem;
}
.info-block-content h3 {
  color: white;
  margin-bottom: -.9rem;
  letter-spacing: .1rem;
  font-weight: 400;
}
.mini ul {
  list-style: disc;
  padding-left: 1rem;
  font-size: .9rem;
  font-weight: 400;
}


#ul-about li {
  color: #424240;
  line-height: 1.5rem;
  letter-spacing: .05rem;
  font-weight: 400;
}

.ib-ul {
  padding-left: 0;
}
#footer-banner {
  background-color: #d3fffc;
  height: 12vh;
  width: 56vw;
  left: 11rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: bottom;
  overflow: hidden
}
#footer-banner img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.4;
  image-rendering: auto;
} 


























/* BREAKPOINTS */
@media screen and (max-width: 1150px) {
  h3 {
    font-size: 1.05rem;
  }
  p {
    font-size: .9rem;
  }
  .mini li {
    font-size: .75rem;
    line-height: 1.25rem !important;
  }
  #ib-experience .left {
    padding-right: 1.5rem;
  }
  #ib-experience .right {
    padding-left: 2rem;
  }
  #side-header {
    font-size: .7rem;
  }
  #ul-about img {
    height: 6rem;
  }
}

@media screen and (max-width: 960px) {
  body {
    width: 130%;
    overflow-x: hidden;
  }
  .section-text {
    width: 110%;
  }
  .sidetop {
    display: none;
  }
  .sidebg {
    display: none;
  }
  .banner {
    width: 72vw;
  }
  .info-block {
    margin-left: 3rem;
    width: 106%;
  }
  #footer-banner {
    width: 65vw;
  }
  #ul-about .left {
    width: 60%;
  }
  #ul-about .right {
    margin-left: 4rem;
    width: 60%;
  }
  #menu-button {
    display: block;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    margin-top: -.8rem;
  }
  #menu-botton-text {
    letter-spacing: .5rem;
  }
  #topbar {
    display: none;
    /* display: inline-block; */
    background-color: #FEFEFE;  
    position: fixed;
    z-index: 2;
    width: 30vw;
    height: 16.5rem;
    top: 0;
    right: 0;
    padding: 1.5rem;
    opacity: 0.97;
  }
  #side-header {
    margin-top: 2rem;
  }
  #topbar a {
    text-decoration: none;
    font-size: .8rem;
    color: #424240;
    line-height: 2rem;
  }
  #topbar-contact{
    margin-top: 2.5rem;
  }
  #topbar-contact a {
    font-size: .5rem;
    line-height: .5rem;
    letter-spacing: .1rem;
    font-weight: 500;
  }
  .mini {
    width: 40vw;
  }
}

@media screen and (max-height: 520px) {
  .sidetop {
    padding-top: 5rem;
  }
}

@media screen and (max-height: 400px) {
  .sidetop {
    padding-top: 2rem;
  }
  .sidetop a {
    font-size: .1rem;
  }
  #side-footer a {
    font-size: .4rem;
  }
}

@media screen and (max-width: 800px) {
  .cover-page h1 {
    font-size: 7rem;
    line-height: 7rem;
  }
  #ul-about .right {
    margin-left: 2rem;
  }
  .mini {
    width: 45vw;
  }
}
@media screen and (max-width: 680px) {
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: .85rem;
  }
  p {
    font-size: .75rem;
    line-height: 1.75rem;
  }
  .main {
    margin-left: 0.5rem;
  }
  #ul-about img {
    height: 5rem;
  }
  #ul-about .right {
    margin-left: .25rem;
  }
  .mini li {
    font-size: .5rem;
  }
  .banner {
    left: 5rem;
    width: 80vw;
  }
  .cover-page h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  .info-block {
    margin: 1.5rem 0 1.5rem 1rem ;
  }
  .info-block-content {
    padding: .5rem 0 .5rem 0;
  }
  #ib-links {
    padding: 1.5rem;
  }
  #ib-links a {
    font-size: .75rem;
  }
  #footer-banner {
    left: 4rem;
    width: 80vw;
  }
  #topbar-contact{
    margin-top: 1.5rem;
  }
}

@media screen and (max-height: 300px) {
  .sidetop {
    padding-top: .75rem;
  }
}